.jumbotron {
    background-image: url("https://www.shutterstock.com/image-illustration/viruses-under-microscope-fast-multiplication-260nw-762583867.jpg");
    background-size: 100% 100%;
    text-align: center;
  color:ghostwhite;
  -webkit-text-stroke: 0.5px black;


}
  